@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.section_2_top_wrap
		img
			width: 550px
			height: 150px
			left: 68%!important
			top: 110px!important
	.section_2_bottom_item
		span
			font-size: 35px!important

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	footer
		.wrap_number_footer
			margin-left: auto
			margin-right: auto
			float: none!important
			text-align: center
			margin-top: 150px
			width: 300px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	.section_2
		h2
			margin-top: 70px!important
		.section_2_middle_wrap
			margin-top: 50px
			.section_2_middle_item_left
				margin-left: auto
				margin-right: auto
				float: none!important
			.section_2_middle_item_right
				float: none!important
		.section_2_top_wrap
			.section_2_top_right
				float: none!important
				margin-left: auto
				margin-right: auto
				margin-top: 50px
			.section_2_top_left
				float: none!important
				margin-left: auto
				margin-right: auto
				margin-top: 50px

	.contact
		background: $yellow
		.form_wrap
			padding-bottom: 20px!important

	.local_item_content
		margin-left: 0!important



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.section_5
		.sec_5_item
			div
				float: none!important
				text-align: center
				margin-left: auto!important
				margin-right: auto!important
			.sec_5_number
				width: 60px!important
				height: 60px!important
				font-size: 30px!important
				padding-top: 10px!important
			.sec_5_content
				width: 90%
				p
					margin: 0
					padding: 0
					font-family: "SeroPro"
					font-size: 20px
	header
		.upper_buttom_header
			width: 310px 
	.section_2_bottom_item
		span
			font-size: 25px!important	
	.section_2_top_wrap 
		span
			font-size: 33px!important	
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	header
		.upper_buttom_header
			width: 300px 
	.section_2_top_right
		font-size: 35px		
	

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/
	.section_2_top_right
		font-size: 35px	

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.section_4
		.sec_4_item
			.sec_4_item_wrap_img
				width: 100%



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

