@import "bourbon"

+font-face("RobotoRegular", "../fonts/RobotoRegular/RobotoRegular", $file-formats: eot woff ttf)
+font-face("Neucha", "../fonts/Neucha/Neucha", $file-formats: eot woff ttf)
+font-face("SeroPro", "../fonts/SeroPro/SeroPro", $file-formats: eot woff ttf)
+font-face("SeroProMedium", "../fonts/SeroProMedium/SeroPro-Medium", $file-formats: eot woff ttf)
+font-face("SeroProBold", "../fonts/SeroProBold/SeroPro-Bold", $file-formats: eot woff ttf)

@font-face
	font-family: SeroPro
	src: url(/fonts/SeroPro/SeroPro.ttf)
	src: url(/fonts/SeroPro/SeroPro.eot)
	src: url(/fonts/SeroPro/SeroPro.woff)
	src: url(/fonts/SeroPro/SeroPro.svg)

@font-face
	font-family: SeroProMedium
	src: url(/fonts/SeroProMedium/SeroPro-Medium.ttf)
	src: url(/fonts/SeroProMedium/SeroPro-Medium.eot)
	src: url(/fonts/SeroProMedium/SeroPro-Medium.woff)
	src: url(/fonts/SeroProMedium/SeroPro-Medium.svg)

@font-face
	font-family: SeroProBold
	src: url(/fonts/SeroProBold/SeroPro-Bold.ttf)
	src: url(/fonts/SeroProBold/SeroPro-Bold.eot)
	src: url(/fonts/SeroProBold/SeroPro-Bold.woff)
	src: url(/fonts/SeroProBold/SeroPro-Bold.svg)