@import "bourbon"
@import "vars.sass"
@import "fonts.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none


h2
	font-size: 50px
	font-family: "Neucha"
	margin: 0
	text-align: center

h3
	font-size: 24px
	font-family: "SeroPro"
	margin: 0
	text-align: center

h4
	font-size: 16px
	font-family: "SeroPro"
	margin: 0
	display: inline-block
	font-weight: normal

p
	font-size: 17px
	font-family: "SeroProMedium"

span
	font-family: "SeroProBold"
	display: block

button
	font-size: 18px
	font-family: "SeroProMedium"
	color: white
	border: none
	background: $orange
	border-radius: 60px
	padding: 18px 25px
	outline: none

header
	min-height: 870px
	width: 100%
	background: $yellow
	position: relative
	padding-bottom: 40px
	.header_top_img
		position: absolute
		top: 25%
		width: 65%
		height: 100%
	.header_top
		margin-top: 20px
		.wrap_logo_header
			width: 100%
			img
				margin-left: auto
				margin-right: auto
				display: block
		.wrap_titel_header
			h4
				margin-left: 25px
				margin-top: 7px
		.wrap_local_header
			width: 250px
			text-align: right
			margin-top: 20px
			float: right
			i
				font-size: 18px
				display: inline-block
				margin-right: 15px
		.wrap_number_header
			width: 100%
			margin-top: 20px
			text-align: right
			i
				font-size: 24px
				color: $orange
				margin-right: 15px
				vertical-align: middle
			span
				display: inline-block
	h2
		padding-top: 70px
	.upper_buttom_header
		text-align: center
		height: 260px
		width: 380px
		background: url("../img/obwodka_header.png") center center no-repeat
		position: relative
		margin-top: 50px
		margin-left: auto
		margin-right: auto
		img
			&:last-child
				position: absolute
				top: 51%
				margin-top: -35px
				left: -5px
			&:first-child
				position: absolute
				top: 10%
				margin-top: -10px
				right: 0
		p
			margin-top: 70px
			display: inline-block
			font-size: 21px
	.buttom_wrap_header
		text-align: center
		padding: 50px 60px
		background: url("../img/obvodka_button.png") center center no-repeat
		margin-top: -25px

