@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

section
	padding: 80px 0px

.section_2
	padding-bottom: 100px
	padding-top: 0
	h2
		margin-top: 170px
	.section_2_top_wrap
		position: relative
		img
			position: absolute
			left: 50%
			margin-left: -520px
			top: 30px
		.section_2_top_right
			width: 300px
			text-align: center
			float: right
			margin-top: 135px
		.section_2_top_left
			float: left
			width: 200px
			text-align: center
			margin-top: 135px
		span
			font-size: 40px
	.section_2_middle_wrap
		margin-top: 160px
		text-align: center
		img
			width: 90%
			display: inline-block
			margin-left: auto
			margin-right: auto
		.section_2_middle_item_left
			text-align: center
			width: 100px
			float: left
		.section_2_middle_item_right
			text-align: center
			float: right
		.item_2_2
			margin-left: 16%
			margin-bottom: 10px
	.section_2_bottom_item
		margin-top: 50px
		.icon_wrap
			width: 65px
			height: 50px
			background: url("../img/icon_sec_2.png") no-repeat
			margin-left: auto
			margin-right: auto
			i
				font-size: 36px
				color: $orange
				margin-top: 10px
		h4
			font-size: 17px
			margin-top: 10px
		span
			font-size: 50px
			margin-top: 15px
	.section_2_bottom
		button
			margin-top: 50px

.section_3
	background: $yellow
	h2
		margin-bottom: 60px
	.section_3_item
		text-align: center
		margin-top: 20px
		.star_top
			width: 60px
			height: 60px
			border-radius: 50%
			margin-left: auto
			margin-right: auto
			background: #fff
			text-align: center
			i
				font-size: 34px
				color: #439aae
				margin-top: 15px

.section_4
	h2
		margin-bottom: 60px
	.sec_4_item
		text-align: center
		margin-top: 25px
		.sec_4_item_wrap_img
			width: 275px
			margin-left: auto
			margin-right: auto
			margin-top: 40px
			img
				width: 100%
				height: 170px
		h4
			margin-top: 15px

.section_5
	background: $yellow
	h2
		margin-bottom: 30px
	.sec_5_item
		div
			float: left
			margin-top: 35px
		.sec_5_number
			width: 30px
			height: 30px
			border-radius: 50%
			background: #fff
			color: #439aae
			font-family: "SeroProMedium"
			font-size: 14px
			text-align: center
			padding-top: 5px
			margin-right: 15px
		.sec_5_content
			width: 90%
			p
				margin: 0
				padding: 0
				font-family: "SeroPro"
				font-size: 20px


.section_6
	h2
		margin-bottom: 40px
	.sec_6_item
		margin-top: 25px
		margin-bottom: 50px
		margin-left: 15px
		display: block
		img
			margin-top: -13px
		div
			float: left
		.sec_6_icon
			width: 45px
			height: 45px
			border-radius: 50%
			background: #fff
			color: black
			font-size: 30px
			text-align: center
			margin-right: 15px
			padding-top: 0
			border: 2px solid black
			i
				vertical-align: top
				margin-top: 7px
				margin-left: 3px
		.sec_6_content
			width: 80%
			p
				margin: 0
				padding: 0
				margin-top: 8px
				font-family: "SeroPro"
				font-size: 20px
			span
				font-family: "SeroPro"
				font-size: 17px

.contact
	background: $yellow
	.form_wrap
		min-height: 680px
		width: 100%
		background: #fff
		text-align: center
		padding-top: 50px
		padding-bottom: 0
		position: relative
		.form_item
			margin-top: 40px
			text-align: center
			input
				display: block
				width: 100%
				height: 70px
				background: #f5f5f5
				border: none
				outline: none
				padding: 20px 35px
				font-family: "SeroPro"
				font-size: 17px
				text-align: center
			label
				font-size: 17px
				font-family: "SeroPro"
		button
			margin-top: 25px
			padding: 18px 40px
		img
			position: absolute
			bottom: 0
			left: 50%
			margin-left: -400px

footer
	padding: 25px 0px
	.local_footer
		h4
			display: block
		.local_footer_item
			div
				float: left
			.icon_left_footer
				color: $yellow
			.local_item_content
				margin-top: 3px
				margin-left: 15px
				h4
					font-size: 16px
					font-family: "SeroPro"
				p
					font-size: 16px
					font-family: "SeroPro"
					margin: 0
	.logo_footer_wrap
		text-align: center
		h4
			margin-top: 5px
	.wrap_number_footer
		text-align: right
		float: right
		span
			font-size: 24px
			display: inline-block
		i
			display: inline-block
			font-size: 30px
			color: $orange
			vertical-align: middle
			margin-top: -5px
			margin-right: 20px


@-moz-document url-prefix() 
	header, section
			width: 100%!important		

	




		


//ALWAYS END
@import "media"
